
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn Đã Đặt Dơn Hàng Thành Công</h2>
<p>
     
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")
</p>
